<div class="container">
  <div class="row">
    <h3>{{ appName | async }}</h3>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #serverName>
      <button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Server</button>
      <hr>
      <div class="jumbotron">
        <button class="btn btn-default" style="margin: 0px 10px" (click)="onPostData()">Post Data</button>
        <button class="btn btn-info" style="margin: 0px 10px" (click)="onGetData()">Get Data</button>
        <button class="btn btn-default" style="margin: 0px 10px" (click)="onPutData()">Put Data</button>
      </div>
      <hr>
      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
